@import 'config';
@import 'utilities';
@import 'form';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    li {
        color: #fff;
        // background: darkorange;
        display: block;
        float: left;
        padding: 1rem 1rem;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
    }

    a {
        color: #fff;
        padding: 0rem;
        margin: 0 0rem;

        &:hover {
            color: $primary-color;
        }
    }

    // li a {
    //     color: #fff;
    // }

    // li:hover {
    //     background: red;
    //     cursor: pointer;
    // }

    ul li ul {
        background: $light-color;
        visibility: hidden;
        opacity: 0;
        min-width: 5rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0rem;
        right: 0;
        display: none;
    }

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
        color: $dark-color;

        a {
        }
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }
}
