/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Barlow:100,300,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&display=swap');

/* reset defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow', sans-serif;
    margin: 0rem 0rem 0rem 0rem;
}

/* Navbar */
.bg-custom {
    background-color: var(--accent);
}

.chartStyle {
    margin: 15px auto;
    border-radius: 4px;
}

.sortPointer {
    cursor: pointer;
}

.dataTable {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
}

.noOutlineOnFocus:focus {
    outline: none;
}

.up {
    color: var(--up);
}

.down {
    color: var(--down);
}
