.timeframe-button-container {
    display: flex;
    margin-bottom: 10px;
}

.timeframe.btn {
    background-color: rgba(245, 245, 245);
    border-radius: 3px;
    border: none;
    color: #000;
    margin: 8px 2px;
    padding: 3px 10px;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
}

.timeframe.btn:hover {
    background-color: rgba(220, 220, 220);
}

.timeframe.btn:active {
    transform: scale(0.98);
}

.timeframe.btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: rgba(57, 122, 152, 0.934);
    color: #fff;
}

.timeframe.btn.selected {
    background-color: rgba(57, 122, 152, 0.934);
    color: #fff;
}

.above-below-chart .chart-title {
    font-weight: bold;
    margin-left: 8px;
}
